.layout-wrapper{
    display:flex;
    flex-direction: column;
    height: 100vh;
}
.main{
    display:flex;
    flex:1;
    min-height: 0; 
}

.content{
    overflow: auto;
    flex:1;
    background: #3e6774;
}