.sidebar{
    padding:10px 15px;
    background: rgb(30, 60, 85);
    display: flex;
    
}

.sidebar ul {
    list-style-type: none;
    
}

.sidebar ul li{
    padding:15px 5px;
    justify-content: center;
    align-items: center;
}

.sidebar ul li:hover{
    background: rgb(179, 245, 240);
    padding: 10px 15px;
    
}
.sidebar ul li a{
    text-decoration: none;
    color: whitesmoke;
    transition: 0.1s;
    margin-right: 15px;
}
.sidebar ul li a:hover{
    color:rgb(28, 110, 126);
    
}