.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px ;
    background:rgb(14, 13, 13);
}

.navbar .logo a{
    text-decoration: none;
    color:rgb(63, 202, 218);
    font-weight: 200;

}

.navbar .logo a:hover{
    color:rgb(83, 113, 142);
}

.navbar .nav-links a{
    color:rgb(63, 202, 218);
}

