.navbar{
    display: flex;
    justify-content: space-between;
    padding:  20px;
    background: #37a0c3;
    align-items: center;
}
.navbar .logo a {
    text-decoration: none;
    font-size: larger;
    color: aliceblue;
}

.navbar .logo a:hover{
    color: #8ed1e8;
}

.navbar .nav-links a{
    color:aliceblue;
}

.navbar .nav-links a:hover{
    color: #8ed1e8;
}
