.navbar{
  height:60px;
  background:#020617;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 25px;
  border-bottom:1px solid #1e293b;
}

.logo{
  font-size:18px;
  font-weight:600;
  color:#38bdf8;
}

a{
  background:#38bdf8;
  padding:6px 12px;
  border-radius:20px;
  font-size:14px;
  color:black;
}